<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WikiNearby</title>
		{% if not mainPage -%}
			<meta name="robots" content="noindex">
		{% endif -%}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/index.css">
		<link rel="shortcut icon" type="image/svg+xml" href="/logo.svg"/>
	</head>
	<body>
		<main>
			<h1>
				<a href="/" id="h1-link">
					<img src="/logo.svg" />
					<span>WikiNearby</span>
				</a>
			</h1>
			<div id="form">
				<div id="inputs">
					<label id="lang-label">
						<input id="lang" list="lang-datalist" placeholder=" ">
						<div>Language (def. en)</div>
					</label>
					<datalist id="lang-datalist"></datalist>
					<label id="query-label">
						<input id="query" list="query-datalist" placeholder=" ">
						<div>Article or Coordinates (eg. 45.0, -75.5)</div>
					</label>
					<datalist id="query-datalist"></datalist>
				</div>
				<div id="buttons">
					<button id="submit" title="Submit form">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<circle cx="10" cy="10" r="7"></circle>
							<line x1="21" y1="21" x2="15" y2="15"></line>
						</svg>
						<span>Go</span>
					</button>
					<button id="locate" title="Use my location">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<circle cx="12" cy="12" r="3"></circle>
							<circle cx="12" cy="12" r="8"></circle>
							<line x1="12" y1="2" x2="12" y2="4"></line>
							<line x1="12" y1="20" x2="12" y2="22"></line>
							<line x1="20" y1="12" x2="22" y2="12"></line>
							<line x1="2" y1="12" x2="4" y2="12"></line>
						</svg>
						<span>My Location</span>
					</button>
				</div>
			</div>
			<div id="about">
				Find Wikipedia articles near a set of coordinates or another article.
				Source code on <a href="https://github.com/BrandonXLF/wikinearby">GitHub</a>.
				Created by <a href="https://en.wikipedia.org/wiki/User:BrandonXLF">BrandonXLF</a>.
			</div>
			<div id="top"></div>
			<div id="list"></div>
			<div id="loading">
				<img src="/loading.svg" />
			</div>
			<script src="/index.js"></script>
		</main>
	</body>
</html>